<nav id="column-left">
	<ul id="menu">
		{% if auth.permissions('users/accounts', 'view') or auth.permissions('users/groups', 'view') %}
			<li id="users">
				<a class="parent">
					<i class="fa fa-user fa-fw"></i>
					<span>{{ language.translate('users') }}</span>
				</a>
				<ul class="collapse">
					{% if auth.permissions('users/accounts', 'view') %}
						<li><a href="{{ path_for('users.accounts') }}">{{ language.translate('accounts') }}</a></li>
					{% endif %}
					{% if auth.permissions('users/groups', 'view') %}
						<li><a href="{{ path_for('users.groups') }}">{{ language.translate('groups') }}</a></li>
					{% endif %}
				</ul>
			</li>
		{% endif %}
		<li id="categories">
			<a href="#">
				<i class="fa fa-folder-open fa-fw"></i>
				<span>{{ language.translate('categories') }}</span>
			</a>
		</li>
		<li id="attributes">
			<a class="parent">
				<i class="fa fa-tags fa-fw"></i>
				<span>{{ language.translate('attributes') }}</span>
			</a>
			<ul class="collapse">
				<li><a href="#">{{ language.translate('attributes') }}</a></li>
				<li><a href="#">{{ language.translate('groupsAttributes') }}</a></li>
				<li><a href="#">{{ language.translate('templates') }}</a></li>
			</ul>
		</li>
		<li id="products">
			<a class="parent">
				<i class="fa fa-box fa-fw"></i>
				<span>{{ language.translate('products') }}</span>
			</a>
			<ul class="collapse">
				<li><a href="#">{{ language.translate('products') }}</a></li>
				<li><a href="#">{{ language.translate('productsFromFeeds') }}</a></li>
				<li><a href="#">{{ language.translate('addedPrice') }}</a></li>
			</ul>
		</li>
		<li id="suppliers">
			<a class="parent">
				<i class="fa fa-share-alt fa-fw"></i>
				<span>{{ language.translate('suppliers') }}</span>
			</a>
			<ul class="collapse">
				<li><a href="#">{{ language.translate('suppliers') }}</a></li>
				<li><a href="#">{{ language.translate('feeds') }}</a></li>
			</ul>
		</li>
		<li id="system">
			<a class="parent">
				<i class="fa fa-cog fa-fw"></i>
				<span>{{ language.translate('system') }}</span>
			</a>
			<ul class="collapse">
				<li><a href="#">{{ language.translate('aliases') }}</a></li>
				<li><a href="#">{{ language.translate('errors') }}</a></li>
			</ul>
		</li>
	</ul>
</nav>