{% extends '_layout_tamplate/styles/default/emailStyle.twig' %}

{% block title %}
	{{ language.translate('forgetPasswordEmailSubject') }}
{% endblock %}
{% block headerTitle %}
	{{ language.translate('forgetPasswordEmailSubject') }}
{% endblock %}

{% block content %}
	<p>{{ language.translate('forgetPasswordEmailSubject') }}</p>
	<p>{{ language.translate('forgetPasswordEmailPharagraf1') }}</p>
	<p>{{ language.translate('forgetPasswordEmailPharagraf2') }}</p>
	<p>
		{{ language.translate('forgetPasswordEmailPharagraf3') }}
		<a href="{{ linkURL }}">{{ language.translate('clickHere') }}</a>.
	</p>
	<p>{{ language.translate('forgetPasswordEmailPharagraf4', expTime) }}</p>
{% endblock %}