{% extends '_layout_tamplate/styles/default/app.twig' %}

{% block headTitle %}{{ language.translate('pageTitle') }}{% endblock %}
{% block headCSS %}
    <link rel="stylesheet" type="text/css" href="{{ config.get('url/style') }}users/css/forget_password.css">
{% endblock %}
{% block headJS %}
    <script src="{{ config.get('url/style') }}users/js/forget_password.js"></script>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div id="resetPasswordForm" class="panel panel-default col-md-10 col-md-offset-1">
				<div class="panel-heading">
					<h3 class="panel-title" id="addGroupFormTitle">{{ language.translate('resetPassword') }}</h3>
				</div>
				<div class="panel-body">
					<form action="{{ path_for('users.accounts.forgetPassword') }}" method="post">
						<div class="form-group">
							<label for="login">{{ language.translate('formLabelUserName') }} / {{ language.translate('formLabelEmail') }}</label>
							<input type="text" name="login" id="login" class="form-control">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">{{ language.translate('resetPassword') }}</button>
						</div>
						{{ csrf('users.accounts.forgetPassword') | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}