{% extends '_layout_tamplate/styles/default/app.twig' %}

{% block headTitle %}{{ language.translate('pageTitle2') }}{% endblock %}
{% block headCSS %}
    <link rel="stylesheet" type="text/css" href="{{ config.get('url/style') }}users/css/forget_password.css">
{% endblock %}
{% block headJS %}
    <script src="{{ config.get('url/style') }}users/js/forget_password.js"></script>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div id="resetPasswordForm" class="panel panel-default col-md-10 col-md-offset-1">
				<div class="panel-heading">
					<h3 class="panel-title" id="addGroupFormTitle">{{ language.translate('pageTitle2') }}</h3>
				</div>
				<div class="panel-body">
					<form action="{{ path_for('users.accounts.forgetPassword.new', {token: token}) }}" method="post">
						<div class="form-group{{ error ? ' has-error' : '' }}">
							<label for="password">{{ language.translate('formLabelNewPassword') }}</label>
							<input type="password" name="password" id="password" class="form-control">
							<label for="showPassword" class="form-check-label showPassword pull-right">
								{{ language.translate('showPassword') }}
								<input type="checkbox" id="showPassword" class="form-check-input showPassword" data-id='password'>
							</label>
							{% if error %}
								<span class="help-block">{{ error }}</span>
							{% endif %}
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">{{ language.translate('pageTitle2') }}</button>
						</div>
						{{ csrf('users.accounts.forgetPassword') | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}